
<%- include("templates/header_with_profile.ejs") %> <!-- change to "templates/header_with_profile.ejs" later -->

    <div id="friendAddBar">
        <form action="friendRequestSearch">
            <input name="friendUsername" type="text" placeholder="Friend's Username">
            <button type="submit">Search</button>
        </form>

    </div>
    <div id="friendRequestDisplay">
        <% if (requests.length===0) { %>
            <div>NO Friends? :c</div>
            <% } else { %>
                <% requests.forEach(request=> { %>
                    <div class="friend-card flex flex-row">
                        <div class="friend-name-tags">
                            <%= request %>
                        </div>
                        <div class="flex flex-col px-2">
                            <form action="/acceptFriend/<%= request %>" method="post">
                                <button type="submit">yes</button>
                            </form>
                            <form action="/rejectFriend/<%= request %>" method="post">
                                <button type="submit">No</button>
                            </form>
                        </div>
                    </div>
                    <% }); %>
                        <% } %>
    </div>


<%- include("templates/footer.ejs") %>
