<% if (noRiot && additionalSummoner) { %>
  <%- include("templates/header_with_profile.ejs") %>
  
  <%- include('templates/game/helpfulMessage.ejs', {helpfulMessage: noRiot})  %>
  
  <%- include('templates/game/searchSummonerButton.ejs', {noSummoner: noSummoner}) %>
  
  <%- include('templates/game/summonerGameStats.ejs', {otherSummonerLevel: otherSummonerLevel, otherRank: otherRank, otherWinrate: otherWinrate}) %>
  
  <!-- Parameter determines default selected dropdown category for modal -->
  <%- include("templates/task_modal.ejs", {category: 'game'}) %>
  
  <%- include("templates/task_cards_container.ejs", {tasks: gamingSuggestions, type: 'gameSuggestions', rank: ['UNRANKED']}) %>
  
  <%- include("templates/easter_footer.ejs") %>
  
  <% } else if (noRiot){ %>
  
  <%- include("templates/header_with_profile.ejs") %>
  
  <%- include('templates/game/helpfulMessage.ejs', {helpfulMessage: noRiot})  %>
  
  <%- include('templates/game/searchSummonerButton.ejs', {noSummoner: noSummoner}) %>
  
  <!-- Parameter determines default selected dropdown category for modal -->
  <%- include("templates/task_modal.ejs", {category: 'game'}) %>
  
  <%- include("templates/task_cards_container.ejs", {tasks: gamingSuggestions, type: 'gameSuggestions', rank: ['UNRANKED']}) %>
    
  <%- include("templates/easter_footer.ejs") %>


  <% } else if (additionalSummoner){ %>
  
  <%- include("templates/header_with_profile.ejs") %>
  
  <div id="test" class="flex justify-around">
    
    <div class="w-1/3"><%- include('templates/game/userGameStats.ejs', {level: level, rank: rank, winrate: winrate}) %></div>
    
    <div class="w-1/3"><%- include('templates/game/summonerGameStats.ejs', {otherSummonerLevel: otherSummonerLevel, otherRank: otherRank, otherWinrate: otherWinrate}) %></div>
    
  </div>
  
  <%- include('templates/game/searchSummonerButton.ejs', {noSummoner: noSummoner}) %>
  

  <!-- Parameter determines default selected dropdown category for modal -->
  <%- include("templates/task_modal.ejs", {category: 'game'}) %>

  <%- include("templates/task_cards_container.ejs", {tasks: gamingSuggestions, type: 'gameSuggestions', rank: rank}) %>

  <%- include("templates/easter_footer.ejs") %>

<% } else { %>
  
  <%- include("templates/header_with_profile.ejs") %>

  <div id="test" class="flex">
    
    <%- include('templates/game/userGameStats.ejs', {level: level, rank: rank, winrate: winrate}) %>
      
  </div>

  <%- include('templates/game/searchSummonerButton.ejs', {noSummoner: noSummoner}) %>
  
  <!-- Parameter determines default selected dropdown category for modal -->
  <%- include("templates/task_modal.ejs", {category: 'game'}) %>

  <%- include("templates/task_cards_container.ejs", {tasks: gamingSuggestions, type: 'gameSuggestions', rank: rank}) %>

  <%- include("templates/easter_footer.ejs") %>

<% } %>