<%- include("templates/header_with_profile.ejs") %>
  <div id="level-up-contents">
    
    <div class="level-user-name">
      <h1><%= formattedTaskCategory %> Level Up</h1>
      <img src="./images/ranks/<%= rank %>.webp" alt="User rank (<%= rank %>)">
    </div>
    
    <h2>
      <%= level %>
    </h2>
    
    <img id="level-up-gif" src="./images/level-up/<%= taskCategory %>.gif" alt="<%= taskCategory %> gif">
    <h3>
      <%= username %>
    </h3>

    <%- include("templates/achievements_container_preview.ejs", {achievements: achievements}) %>
    
    <form id="confirmLevelUp" action="/level_up_confirmation" method="POST">
      <input type="hidden" name="taskCategory" value="<%= taskCategory %>">
      <button type="submit"
        class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">OK</button>
    </form>
  </div>
  <%- include("templates/footer.ejs") %>