<%- include("templates/header_with_profile.ejs") %>
  <div id="level-up-background">
    
    <!-- <img src="./images/ranks/<%= rank %>.webp" class="h-auto w-20" alt="User rank (<%= rank %>)"> -->

    <div class="level-user-name">
      <h1 class="text-3xl">Level up! Your <%= taskCategory %> is now level <%= level %>.</h1>
      <img id="level-up-gif" src="./images/level-up/<%= taskCategory %>.gif" alt="<%= taskCategory %> gif">
    </div>
    

    <%- include("templates/achievements_container_preview.ejs", {achievements: achievements}) %>
    
    <form id="confirmLevelUp" action="/level_up_confirmation" method="POST">
      <input type="hidden" name="taskCategory" value="<%= taskCategory %>">
      <button type="submit"
        class="inline-block bg-yellow-200 rounded-full px-6 py-3 text-lg font-semibold text-yellow-700 mr-2 mb-2">OK</button>
    </form>

  </div>
  <%- include("templates/footer.ejs") %>