<%- include("templates/header_with_profile.ejs") %>
<div>
Username: <%= username %>
<br>
Email: <%= email %>
<br>
RiotID: <%= gameID %>
<br>
Allergies: <%= allergies %>
</div>
<%- include("templates/footer.ejs") %>