<%- include("templates/header_with_profile.ejs") %>
<body>
    <div class="m-5">
        <div class="flex justify-center mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="120"
                height="120" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e5e7eb" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
        </div>
        <div class="text-3xl text-center">
            <%= username %>
        </div>
        <div class="text-center text-xl mb-5 text-gray-400">
            <%= gameName %>
        </div>

        <div class="flex justify-between border rounded-lg p-2 bg-gray-800">
            <p class="text-lg">Achievements</p>
            <a href="#">See all</a>
        </div>
        <div class="achievements-container">
            <img class="achievement mr-1"
                src="https://earthbornegames.com/wp-content/uploads/EBR_Achievement_Badges-No_Stone_Unturned.png">
            <img class="achievement mr-1"
                src="https://earthbornegames.com/wp-content/uploads/EBR_Achievement_Badges-Unplanned_Reunion.png">
            <img class="achievement"
                src="https://earthbornegames.com/wp-content/uploads/EBR_Achievement_Badges-The_Pentaverate.png">
        </div>
        <div class="level-container mt-5">
            <div class="flex items-center">
                <div class="circle flex items-center justify-center mr-3">
                    <%= levelDiet %>
                </div>
                <div class="ml-2 flex flex-col">
                    <p class="text-base mb-2">Diet Completion</p>
                    <div class="range-profile" style="--level:<%= levelDiet %>; --max-level:<%= levelMax %>;"></div>
                </div>
            </div>
        </div>
        <div class="level-container">
            <div class="flex items-center">
                <div class="circle flex items-center justify-center mr-3">
                    <%= levelFitness %>
                </div>
                <div class="ml-2 flex flex-col">
                    <p class="text-base mb-2">Fitness Completion</p>
                    <div class="range-profile" style="--level:<%= levelFitness %>; --max-level:<%= levelMax %>;"></div>
                </div>
            </div>
        </div>
        <div class="level-container">
            <div class="flex items-center">
                <div class="circle flex items-center justify-center mr-3">
                    <%= levelGame %>
                </div>
                <div class="ml-2 flex flex-col">
                    <p class="text-base mb-2">Game Completion</p>
                    <div class="range-profile" style="--level:<%= levelGame %>; --max-level:<%= levelMax %>;"></div>
                </div>
            </div>
        </div>
        <div class="bordered-section text-xl mt-14 space-y-4">
            <p class="border rounded-lg p-2 bg-gray-800">Email: <%= email %></p>
            <p class="border rounded-lg p-2 bg-gray-800">Allergies: <%= allergies %></p>
        </div>
        <div class="bordered-section text-xl mt-14 space-y-4">
            <a href="/logout" class="border rounded-lg p-2 bg-gray-800">Log out</a>
        </div>
    </div>
<%- include("templates/footer.ejs") %>
