<div id="otherSummoner">
  <br>
  Other Summoner Level: <%= otherSummonerLevel %>
  <br>
  Other Current rank: <%= otherRank %>
  <br>
  Other Winrate: <%= otherWinrate[0] %> <%= otherWinrate[1] %>
  <br>
  Other KD Ratio: <%= otherkd %>
  <br>
  <img  class="w-40 h-40" src="./images/lolRanks/<%=otherRank[0]%>.webp" alt="">
</div>
