<body class="bg-gray-100 text-gray-900">
    <div class="w-full bg-transparent border border-[#f5b700] rounded-lg overflow-hidden shadow-lg flex flex-col mx-auto my-1">
        <div class="flex flex-col h-full">
            <div class="px-6 py-4 flex-1">
                <div class="font-bold text-xl mb-2 text-[#f5b700]">
                    <%= title %>
                </div>
                <p class="text-[#f5b700] text-base">
                    <%= description %>
                </p>
                <img class="w-12" src="./images/taskCardIcons/<%= formattedTitle%>.png"
                onerror="this.onerror=null; this.src='./images/taskCardIcons/pencil2.png';" alt="Icon" name="normalIcon" />
            </div>
            <div class="px-6 pt-4 pb-4 flex justify-between items-center space-x-2">
                <% if (type === 'suggestion') { %>
                <form id="moveTaskForm" action="/move_task" method="POST" class="w-full">
                    <input type="hidden" name="category" value="<%= category %>">
                    <input type="hidden" name="taskId" value="<%= taskId %>">
                    <button type="submit" class="w-full flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </button>
                </form>
                <% } else { %>
                <form id="completeTaskForm" action="/complete_task" method="POST" class="w-full">
                    <input type="hidden" name="category" value="<%= category %>">
                    <input type="hidden" name="taskId" value="<%= taskId %>">
                    <button type="submit" class="w-full flex items-center justify-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                    </button>
                </form>
                <form id="deleteTaskForm" action="/delete_task" method="POST" class="w-full">
                    <input type="hidden" name="category" value="<%= category %>">
                    <input type="hidden" name="taskId" value="<%= taskId %>">
                    <button type="submit" class="w-full flex items-center justify-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        if (document.URL.includes("completed")) {
            buttons = document.getElementsByTagName("button")
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].classList.add("hidden");
            }
        }
    </script>
</body>