<h5 class="font-bold pb-5">Summonor Stats</h5>

<div id="otherSummoner" class="flex justify-between w-1/3">
  <img id="summonerRankIcon" class="w-40 h-40"  src="./images/lolRanks/<%=otherRank[0]%>.webp" alt="">

  <div id="summonerStats" class="flex flex-col justify-center gap-2">
    <div>
      <span class="font-bold">Summoner Level:</span> <%= otherSummonerLevel %>
    </div>
    <div>
      <span class="font-bold">Current rank:</span> <%= otherRank[0] %> <%= otherRank[1] %>
    </div>
    <div>
      <span class="font-bold">Winrate:</span> <%= otherWinrate %> %
    </div>
    <div>
      <span class="font-bold">KD Ratio:</span> <%= otherkd %>
    </div>
  </div>
</div>