<div id="otherSummoner">
  <h5 class="font-bold">Summonors Stats</h5>
  <br>
  Level: <%= otherSummonerLevel %>
  <br>
  Rank: <%= otherRank %>
  <br>
  Winrate: <%= otherWinrate[0] %> <%= otherWinrate[1] %>
  <br>
  KD Ratio: <%= otherkd %>
  <br>
  <img  class="w-40 h-40" src="./images/lolRanks/<%=otherRank[0]%>.webp" alt="">
</div>
