<div id="user">
  <br>
  Summoner Level: <%= level %>
  <br>
  Current rank: <%= rank[0] %> <%= rank[1] %>
  <br>
  Winrate: <%= winrate %> %
  <br>
  KD Ratio: <%= kd %>
  <br>
  
  <img class="w-40 h-40"  src="./images/lolRanks/<%=rank[0]%>.webp" alt="">
</div>